* {
    box-sizing: border-box;
}
body {
    margin:0;padding:0;background:#525659;font-size:12px;user-select: none;-webkit-user-select: none;
}
ul{
    list-style:none;margin:0;padding:0
}
input[type=checkbox] {
    margin:0;position: relative;top:3px;
}
.width-50 {
    width:50px;
}
#container {
/*    background: 
    -webkit-linear-gradient(top, transparent 39px, rgb(255, 201, 201) 40px), 
    -webkit-linear-gradient(left, transparent 39px, rgb(202, 202, 202) 40px)
    ;
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
*/
    width: 210mm;height:297mm;margin: 22px auto;background-color:#fff;position:relative;overflow:hidden;
}
#container .item {
    position:absolute;white-space: nowrap;overflow: hidden;
}
#container .item.active[data-type=cell]::before,
#container .item.active[data-type=image]::before
{
    content: "";
    width: 5px;
    height: 100%;
    position: absolute;
    right: 0;
    cursor: col-resize;
}
#container .item.active[data-type=cell]::after,
#container .item.active[data-type=image]::after
{
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: 0;
    cursor: row-resize;
}
#container .item.active[data-type=line] {
    cursor: move;
}
#tool-bar-title {
    position:fixed;top:15mm;background:#fff;margin:0px;
}
#tool-bar-title li {
    border-bottom:1px solid #aaa;margin:4px;
}
#form {
    position:fixed;top:70mm;background:#fff;margin:0px;
}
#form input[type=text],
#form input[type=number]
{
    height:22px;line-height:22px;
}
#form select {
    height:22px;line-height:22px;position: relative;top:1px;
}
#form textarea {
    width: 160px;
}
#form .font-block {
    position:relative;width:210px;
}
#form .font-block .font-style {
    position: absolute;
}
#form .font-block .font-style input {
    position: relative;top:3px;
}
#tool-bar-content li {
    margin:4px;padding-bottom: 1px;
}
.html {
    position:fixed;right:0;top:15mm;background:#fff;
}
#html {
    width:50mm;height:30mm;
}
.output {
    position:fixed;right:0;top:60mm;background:#fff;
}
#output {
    width:50mm;height:30mm;
}
.qrcode,.image,.barcode {
    border:1px solid #aaa;background:#eee;display:flex;align-items: center; justify-content: center;
}
#help {
    position:fixed;right:0;top:105mm;background:#fff;
}
.hide {
    display:none;
}
.active {
    background:#ff0 !important;opacity:0.5;
}
.block .title {
    border-radius: 2px;
    margin: 0;
    padding: 5px 5px;
    background: #c8c8c8;
    font-weight: 700;
    cursor: move;
}
.droppable {
    border-radius: 2px;
    box-shadow: #525659 2px 2px 10px;
}