* {
    box-sizing: border-box;
}
body {
    margin:0;padding:0;background:rgb(230, 230, 230);font-size:12px;user-select: none;-webkit-user-select: none;
}
ul{
    list-style:none;margin:0;padding:0
}
input[type=checkbox] {
    margin:0;position: relative;top:3px;
}
.width-50 {
    width:50px;
}
/* 清理浮动 */
.clearfix{*zoom:1;}
.clearfix:before,.clearfix:after{display:table;content:"";line-height:0;}
.clearfix:after{clear:both;}
#container {
    width: 210mm;margin: 24px auto 0;font-family:仿宋;
}
#container .paper {
    width: 210mm;height:297mm;margin: 0px auto 14px;background-color:#fff;position:relative;
}
#container .item {
    position:absolute;white-space: nowrap;overflow: hidden;
}
#container .item:hover {
    background: #f2f2f2 !important;
}
#container .active {
    background:#ffff87 !important;;
}
#container .active:hover {
    background:#ffff87 !important;;
}

#container [data-type=line] {
    height:2px;background: #000 !important;
}
#container .item[data-type=line]:hover,
#container .item[data-type=line].active
{
    background: #f00 !important;
}
#tool-bar-title {
    position:fixed;top:15mm;background:#fff;margin:0px;
}
#tool-bar-title li {
    margin:4px;
}
#form {
    position:fixed;top:70mm;background:#fff;margin:0px;
}
#form input[type=text],
#form input[type=number]
{
    height:22px;line-height:22px;
}
#form select {
    height:22px;line-height:22px;position: relative;top:1px;
}
#form textarea {
    width: 160px;
}
#form .font-block {
    position:relative;width:210px;
}
#form .font-block .font-style {
    position: absolute;
}
#form .font-block .font-style input {
    position: relative;top:3px;
}
#tool-bar-content li {
    margin:4px;padding-bottom: 1px;
}
.html {
    position:fixed;right:0;top:15mm;background:#fff;
}
#html {
    width:50mm;height:30mm;
}
.output {
    position:fixed;right:0;top:60mm;background:#fff;
}
#output {
    width:50mm;height:30mm;
}
.qrcode,.image,.barcode {
    border:1px solid #aaa;background:#f6f6f6;display:flex;align-items: center; justify-content: center;
}
#help {
    position:fixed;right:0;top:105mm;background:#fff;
}
.hide {
    display:none;
}
.block .title {
    border-radius: 2px;
    margin: 0;
    padding: 5px 5px;
    background: #4e71ff;
    color:#fff;
    font-weight: 700;
    cursor: move;
}
.droppable {
    border-radius: 2px;
    box-shadow: #525659 2px 2px 10px;
}
.align-items {
    width: 40px;vertical-align: top;display: inline-block;
}
.align-items input {
    margin:0;float:left;
}
.insert-paper-button {
    text-align: center;margin:10px auto;width:210mm;
}
.btn {
    border:1px solid #a5a5a5;background:#eee;padding: 3px 20px;font-size:12px;border-radius: 14px;height:28px;outline:none;
}
.btn:hover {
    border:1px solid #a1a1a1;background:#fff;
}
.btn-fullsize {
    width:100%;
}

#component-tree {
    position:fixed;right:0;top:105mm;background:#fff;
    width:200px;
}
#component-tree ul {
    height:400px;
    overflow: auto;
}
#component-tree li {
    margin:4px;
}
#component-tree li.active {
    border:1px dashed blue;
}
#area-shadow {
    position: absolute;
    background-color: blue;
    opacity: 0.2;
    border: 1px dashed #d9d9d9;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}